%h3 Crypto Currency Look Up
%br/

= form_tag home_lookup_path, :method => 'POST' do
  = text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50
  = submit_tag 'Look Up Stock Quote'

%br/

- if @symbol
  - for x in @lookup_coins
    - if @symbol == x["symbol"]
      = x["name"]
      = x["current_price"]